{% extends "network/layout.html" %} {% load static %} {% block links %}
<script
  src="https://unpkg.com/react@17/umd/react.production.min.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"
  crossorigin
></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{%endblock %} {% block body %}

<div id="app"></div>

<!-- JSX script -->
<script type="text/babel" src="{% static 'network/app.jsx' %}"></script>
{%endblock %}
